#rock{
    font-size:30px;
    cursor:pointer;
}  
  
body {
    font-family: "Lato", sans-serif;
}

div.tab {
    
    border: 1px solid #ccc;
    background-color: lightgreen;
    width: 30%;
    height: 180px;
}

div.tab a {
    
    display: block;
    color: black;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

div.tab a:hover {
    background-color: lightgrey;
    
}


div.tab a:focus, .active {
    background-color: darkgrey;
}

#mySidenav{
    display:none;
    padding-bottom:30px;
}

