
<!--<div class="col-md-6 col-md-offset-3" ng-controller="todoController">-->
<div class="todo-wrapper" >


  <h2>Enter the things you gotta do</h2>

  
  <div class="input-group">
    <input type="search" class="form-control" ng-model="searchText" placeholder="Search"  ng-change="search()" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>
  
  
  <table class="table  table-hover data-table sort display">
   <thead>
     <tr>
       <th class="Title"> <a href="" ng-click="columnToOrder='Title';reverse=!reverse">Title 
        
       </a></th>
       <th class="Date"> <a href="" ng-click="columnToOrder='DaTe';reverse=!reverse"> Date </a> </th>
       <th class="Description"> <a href="" ng-click="columnToOrder='Description';reverse=!reverse"> Description </a> </th>
       
     </tr>
   </thead> 
   <tbody>
     
     <tr ng-repeat="item in filteredList | orderBy:columnToOrder:reverse">
       <td>{{item.Title}}</td>
       <td>{{item.DaTe}}</td>
       <td>{{item.Description}}</td>
     </tr>
   </tbody>
 </table>
 
 
 <div class="row">
  <div class="col-xs-3">
    <input type="text" ng-model="newTitle" class="form-control" placeholder="Title">
  </div>

  <div class="col-xs-4">
    <input type="text" ng-model="newDate" class="form-control" placeholder="dd/MM/yyyy" >
  </div>
  <div class="col-xs-3">
    <input type="text" ng-model="newDescription" class="form-control" placeholder="Description">
  </div> 
  
  <div class="col-xs-1">
   <button ng-click="add()" type="button" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
  </button> 
</div> 
</div>





</div>



