﻿<html lang="en" data-framework="angularjs">
<head>
	<meta charset="utf-8">
</head>
<body>
	<h1>Hi {{vm.user.firstName}}!</h1>
	<p>You're logged in!!</p>


	<h3>All registered users:</h3>
	<ul>
		<li ng-repeat="user in vm.allUsers">
			{{user.username}} ({{user.firstName}} {{user.lastName}})
			- <a ng-click="vm.deleteUser(user.id)">Delete</a>
		</li>
	</ul>

	<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
	<p><a href="#!/todo">Make Your todo List</a></p>




</body>
</html>




